/* GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/*  HEADER */
header {
    background-color: $color-primario;
    font-family: $fuente-secundario;
}

.nav-link {
    color: $color-claro-detalles;

    &:focus,
    &:hover {
        color: $color-secundario;
    }
}

.navbar-nav {

    .nav-link.active,
    .nav-link.show {
        color: $color-secundario;
    }
}

.boton-buscar button {
    color: $color-claro-detalles;
    border-color: $color-claro-detalles;
    opacity: 0.3;

    &:hover {
        background-color: $color-secundario;
    }
}

.icono-navbar button {
    border-color: rgb(68, 68, 68);

    &:hover {
        border-color: $color-secundario;
        background-color: $color-secundario;
        transition: 0.5s;
    }
}

.d-flex {
    padding-top: 25px;

    input {
        height: 100%;
    }

    button {
        height: 60%;
    }
}

/* CARROUSEL */
.carousel-inner h5 {
    padding: 10px;
}

/* CARDS */
.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 80px;
}

.card {
    max-width: 100%;
    cursor: pointer;
    width: 25rem;

    h5 {
        font-family: $fuente-principal;
    }

    p {
        font-family: $fuente-secundario;
        font-size: $fuente-media - 5px;
    }

    ul {
        li {
            font-family: $fuente-terceario;
            text-align: left;
        }
    }

}

.card-img-top {
    width: 500px;
    height: 400px;
    object-fit: cover;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: $standar) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: start;
    }
}

@media (min-width: $tablet) {
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: $desktop) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $desktopXG) {
    .container-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* GIF */
.video-box {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 100px auto 0;
    padding-bottom: 40px;
}

.video video {
    width: 100%;
    height: auto;
}

/* ICONO ARRIBA */
.gotopbtn {
    position: fixed;
    width: 55px;
    height: 80px;
    bottom: 40px;
    right: 5%;
}

.gotopbtn img {
    opacity: 0.8;
    border-radius: 50%;
}

/* FOOTER */
.container-footer {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.footer {
    background-color: rgb(22, 22, 22);
    padding-top: 70px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.footer-col {
    width: 25%;
    margin: 0 auto;
    padding-left: 40px;
    

    h4 {
        font-size: 18px;
        color: $color-rojizo-detalles;
        text-transform: capitalize;
        margin-bottom: $padding-grande;
        font-weight: 500;
        position: relative;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;

        &::before {
            content: '';
            position: absolute;
            background-color: $color-rojizo-detalles;
            box-sizing: border-box;
            max-width: 100%;
        }
    }

    ul {
        margin-right: 0;
        li {
            &:not(:last-child) {
                margin-bottom: $padding-chico;
            }

            a {
                font-size: 16px;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                margin: 0 auto;
            }
        }
    }

    .social-links {
        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255, 255, 255, 0.2);
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: $color-claro-detalles;
            transition: all 0.5s ease;
            margin: 0 auto;

            &:hover {
                color: #24262b;
                background-color: $color-claro-detalles;
            }
        }
    }
}

@media (max-width: $desktop) {
    .footer-col {
        width: 50%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}

@media (max-width: $tablet) {
    .footer-col {
        width: 50%;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}

@media (max-width: $celularL) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}

@media (max-width: $celularM) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}

@media (max-width: $celularS) {
    .footer-col {
        width: 100%;
        text-align: center;
    }

    ul {
        padding-left: 0;
    }
}