/* PALETA DE COLORES */
$color-primario: #000;
$color-secundario: gray;
$color-amarillo-detalles: yellow;
$color-rojizo-detalles: #a72a68;
$color-claro-detalles: #ffffff;

/* FUENTES */
$fuente-principal: 'Montserrat', sans-serif;;
$fuente-secundario: 'Poppins', sans-serif;
$fuente-terceario: 'Open Sans', sans-serif;

/* TAMAÑOS FUENTES */
$fuente-chica: 14px;
$fuente-media: 20px;
$fuente-titulo: 28px;
$icono: 40px;

/* PADDING */
$padding-grande: 30px;
$padding-chico: 10px;

/*RESOLUCIONES DE PANTALLAS*/
$celular: 900px;
$tablet: 768px;
$desktop: 1350px;
$desktopXG: 1800px;